/* Pagination css */

.page-link {
    background-color: #ffffff; 
    color: #717fe0; 
  }
  
  .page-item.active .page-link {
    background-color: #717fe0; 
    color: #ffffff;
  }
  
  .page-link:hover {
    background-color:   #b0bbff6d;
    color: #fff; 
  }

/* Scrollbar css */

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background: #fbc08f; 
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f19143; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
